html
  head
    style
      include main.css
      include tab.css
      include verticaltab.css
      include table.css
    script
      include tabchange.js
    script(type="text/javascript").
      document.getElementById("queryproduct").click();
  body
    .tab
      label.tablinks=uname
      form(style='height:auto' method='GET' action='/logout')
        button.tablinks(style='float:right') Logout

    .vtab(style='height:100%')
      form(method='GET' action='/login')
        input#username.form-control(type='hidden' value=uname name='username')
        button.tablinks#que(onclick="openTab(event, 'queryall')" class='active') Query All
      button.tablinks#inv(onclick="openTab(event, 'createproduct')") Create Product
      button.tablinks#trp(onclick="openTab(event, 'transferproduct')") Transfer Product
      button.tablinks#gth(onclick="openTab(event, 'gethistory')") Get History
      form(method='GET' action='/getBlockHeight')
        input#uname.form-control(type='hidden' value=uname name='uname')
        button.tablinks#blk Block Explorer


    #queryall.tabcontent(style='display:block; margin-top:5px')
      - var arr = [];
      - var arr2 = [];
      - arr = queryresult.split(".");
      div(style='overflow-x:auto;margin-top:10px;margin-left:10px')
        table
          thead
            tr(style='background-color: #4CAF50;color: white')
              th Product Id
              th Type
              th Name
              th Quantity
              th Owner
              th Current Owner
              th Address
          tbody
            - for (var i = 0; i < arr.length-1; i++)
              - arr2 = arr[i].split(" ");
              tr
                th
                  label=arr2[0]
                th
                  label=arr2[1]
                th
                  label=arr2[2]
                th
                  label=arr2[3]
                th
                  label=arr2[4]
                th
                  label=arr2[5]
                th
                  - var addr = '';
                  - for (var j=6; j<arr2.length; j++)
                    - addr = addr + arr2[j];
                  label=addr


    #createproduct.tabcontent(style='margin-top:30px')
      form(style='width:50%' method='GET' class="modal-content animate" action='/invoke')
        input#sname.form-control(type='hidden' value=sname name='sname')
        div.form-group(align='center')
          label(for='ptype' style='padding:0px 30px 0px 0px') Type
          select.form-control(name='ptype')
            option.form-control(value='Food') Food
            option.form-control(value='Medicine') Medicine
            option.form-control(value='Clothes') Clothes
            option.form-control(value='Beverages') Beverages
        div.form-group(align='center')
          label(for='pname' style='padding:0px 23px 0px 0px') Name
          input#pname.form-control(type='text' placeholder='product name' name='pname' required="required" pattern='[a-zA-Z0-9]+' title="Name should consist of alphabets only")
        div.form-group(align='center')
          label(for='pqty' style='padding:0px 8px 0px 0px') Quantity
          input#pqty.form-control(type='number' placeholder='quantity' name='pqty' required="required")
        div.form-group(align='center')
          label(for='ploc' style='padding:0px 7px 0px 0px') Address
          input#ploc.form-control(type='text' placeholder='location' name='ploc' required="required"  pattern='[^\.]+' title="Address should not contain dots(.)")
        div.form-group(align='center')
          button#create(type='submit' style='width:90%') Submit

    #transferproduct.tabcontent(style='margin-top:10px;margin-left:40px')
      form(style='width:100%' method='GET' class="modal-content animate" action='/transferProduct')
        input#tname.form-control(type='hidden' value=uname name='uname')
        div.form-group(align='left')
          label(for='tid' style='padding:0px 69px 0px 0px') Product Id
          input#tid.form-control(type='text' placeholder='product id' name='tid' required="required"  pattern='[0-9]+' title="Product Id should be a number")
        div.form-group(align='left')
          label(for='tqty' style='padding:0px 82px 0px 0px') Quantity
          input#tqty.form-control(type='number' placeholder='quantity' name='tqty' required="required")
        div.form-group(align='left')
          label(for='rname' style='padding:0px 78px 0px 0px') Receiver
          input#rname.form-control(type='text' placeholder='receiver name' name='rname' required="required" pattern='[a-zA-Z0-9]+' title="Name should consist of alphabets only")
        div.form-group(align='left')
          label(for='rloc' style='padding:0px 15px 0px 0px') Receiver Address
          input#rloc.form-control(type='text' placeholder='receiver address' name='rloc' required="required"  pattern='[^\.]+' title="Address should not contain dots(.)")
        div.form-group(align='center')
          button#transfer(type='submit' style='width:90%') Submit

    #gethistory.tabcontent(style='margin-top:30px')
      form(style='width:65%' method='GET' class="modal-content animate" action='/getHistory')
        input#gname.form-control(type='hidden' value=uname name='uname')
        div.form-group(align='center')
          label(for='gid' style='padding:0px 10px 0px 0px') Product Id
          input#gid.form-control(type='text' placeholder='product id' name='gid')
          button#transfer(type='submit' style='width:90%') Submit
